<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>component 실습</title>
</head>
<body>
    <script src = "https://unpkg.com/vue@3"></script>
    <!-- vue 프레임웍을 사용한 예시-->
    <div id = "app">
        카운트 : {{ count }}
        <button @click="count++;">플러스</button>
        <br>
        <p>김준석 <b v-html="style"></b>ㅎㅎ</p>
    </div>

    <script>
        const {createApp} = Vue;
       
        createApp({
            data()
            {
                return{
                    count : 0,
                    style : ""
                }
            },
        mounted()
        {
            console.log("마운트 성공");
        },

        }).mount("#app")
    </script>
</body>
</html>